<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>洞鉴 - 设备管理</title>
    <link rel="stylesheet" th:href="@{css/w3.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap-table.css}"/>
    <link rel="stylesheet" th:href="@{css/toastr.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap-treeview.min.css}"/>
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/bootstrap-table.js}"></script>
    <script th:src="@{js/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{js/toastr.min.js}"></script>
    <script th:src="@{js/bootstrap-treeview.min.js}"></script>
    <!-- custom js -->
    <script th:src="@{js/index.js}"></script>
    <script th:src="@{js/device.js}"></script>
</head>
<body>
<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-black" style="display: none" id="sidebar">
    <button class="w3-bar-item w3-button" style="height:52px;text-align:center" onclick="w3_close()">
        <span class="glyphicon glyphicon glyphicon-remove"></span>
    </button>
    <div id="menuBars"></div>
</div>

<!-- navigator -->
<nav class="navbar navbar-inverse" style="border-radius: 0">
    <div class="navbar-header">
            <span onclick="w3_open()" class="navbar-brand glyphicon glyphicon-menu-hamburger" style="width: 70px">
            </span>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
    </ul>
</nav>

<div id="pageContent">
    <!-- table -->
    <div class="container">
        <div id="toolbar">
            <button id="btn_add" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
            </button>
            <!--<button id="btn_edit" type="button" class="btn btn-default">-->
            <!--<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改-->
            <!--</button>-->
            <button id="btn_del" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
            </button>
        </div>
        <table id="table"></table>
    </div>

    <!-- add modal -->
    <div id="modal_add" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">新增</h3>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="name">相机名称<b style="color: red;">(*)</b></label>
                                <input type="text" class="form-control" id="name"/>
                            </div>
                            <div class="col-md-6">
                                <label for="vedio_url">视频流地址<b style="color: red;">(*)</b></label>
                                <input type="text" class="form-control" id="vedio_url"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="lon">相机经度</label>
                                <input type="text" class="form-control" id="lon"/>
                            </div>
                            <div class="col-md-6">
                                <label for="lat">相机纬度</label>
                                <input type="text" class="form-control" id="lat"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="device_type">设备类型</label>
                                <select class="form-control" id="device_type">
                                    <option value=1>视频流相机</option>
                                    <option value=2>抓拍机</option>
                                    <option value=3>视图库相机</option>
                                    <option value=4>视频平台相机</option>
                                    <option value=5>人证机集群</option>
                                    <option value=6>眼镜集群</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="state">开关状态</label>
                                <input type="checkbox" class="form-control" id="state"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="position">位置描述</label>
                                <textarea class="form-control" id="position" cols="30" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="note">备注</label>
                                <textarea class="form-control" id="note" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="dept_add_submit" type="button" class="btn btn-default" data-dismiss="modal" onclick="addDevice()">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除确认 -->
    <div id="modal_del" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 style="text-align: center">确定要删除么？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="delDevice()">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    loadMenuBar();
    initTable();
</script>

</body>
</html>